body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    background-image:url(images/dash_bg.jpg);
  }
.footer{
background-color: #333;
color: #fff;
padding: 10px;
text-align: center;
font-size: 16px;
height: 0.4cm;
margin-bottom: -200px;
bottom: 0;
}
footer a{color: #fff;
text-decoration: none;
font-weight: bold;}
  .dashboard {
    width: 80%;
    padding-right: 25px;
    float:right;
  }
  h1 {
    text-align: center;
    color: #000000;
  }
  .courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }
  .course {
    width: 30%;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    font-weight: bolder;
  }
  .course h2 {
    margin-top: 0;
  }
  .course p {
    margin-bottom: 0;
  }
  .course a {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: #fff;
    background-color: #008080;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
  }
  .course a:hover {
    background-color: #005f5f;
  }
.hbut{
width: 100px;
height: 40px;
color: #fff;
border: none;
border-radius: 10px;
background-color: #2b3131;
}
nav pre{
background-color: #008080;
display: block;
border-radius: 10px;
padding-top: 5px;
padding-bottom: 5px;
}
#prof{
width:9cm;

border-radius:15px;
}
#stud_info{
  background-color: #008080;
  float: left;
  width: 6cm;
  margin-top: 10px;
  border-radius: 10px;
  border: #fff solid 3px;
}
#my-options {
  display: none; /* Hide the options by default */
  position: relative; /* Position the options relative to the button */
  left: 10%;
  background-color: #f5f5f5; /* Change the background color to match your design */
  border: 1px solid #ddd; /* Add a border to the options */
width:auto;
font-size:20px;
text-align: leftf;
}

#my-button:focus + #my-options,
#my-options:hover {
  display: block; /* Show the options when the button is clicked or when the options are hovered */
}
#my-button{
  width: 130px;
  background-color: #008080;
  border:none;
  font-size: large;
  text-align: left;
}
#my-button:hover{
  background-color: #005f5f;
}
#buy_frame{
  width: 10cm;
  height: 10cm;
  background-color: white;
  
}